fastapi
uvicorn
motor
pymongo
python-dotenv
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
pydantic
pydantic-settings
google-generativeai
opencv-python-headless
face-recognition
numpy
python-multipart
email-validator
setuptools<70.0.0
